<div class="container">
  <bs-jumbotron>
    <div class="heading">chrsolr.io</div>
    <div class="body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi nobis earum reiciendis commodi vitae iusto velit similique labore,
      necessitatibus impedit provident, tenetur deleniti! Repellendus totam, laborum consequuntur ipsa sint tenetur provident impedit
      delectus ducimus quasi ipsam quod voluptate illum assumenda tempora, deleniti temporibus mollitia minus distinctio. Corporis tempore
      eum error quasi deleniti! Ipsum quaerat nisi quos at dolorem dolores earum? A dolores corrupti porro atque ipsam repellat nam aliquid
      rerum voluptatem, enim voluptas placeat beatae, autem quod vero, officia sit! Omnis rerum temporibus fuga vero beatae sint repudiandae
      magnam, enim, obcaecati velit totam soluta maxime? Vitae ea numquam accusantium mollitia.
    </div>
    <a class="btn btn-primary btn-lg button" href="https://github.com/chrsolr" target="_blank" role="button">Github</a>
  </bs-jumbotron>
</div>
