<input type="search" class="form-control" placeholder="Search for github user" [formControl]="searchControl" />

<hr />

<div *ngIf="isLoading" class="d-flex justify-content-center"><i class="fa fa-spinner fa-spin fa-2x"></i></div>

<div *ngFor="let user of users" class="shadow border p-3 mb-5 bg-white rounded">
  <div class="media">
    <img [src]="user.avatar_url" class="mr-3" />
    <div class="media-body">
      <h5 class="mt-0">{{ user.login }}</h5>
      <p class="text-muted font-weight-light">Score: {{ user.score }}</p>
      <a class="font-weight-light" href="{{ user.html_url }}" target="_blank">View Github</a>
    </div>
  </div>
</div>
